{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block register %}
<div class="card-content blue-grey-text">
	<span class="card-title">{% trans "Password reset" %}</span>
	<p>
		{% blocktrans %}We have sent you an email with a link to reset your password. Please check your email and click the link to continue.{% endblocktrans %}
	</p>
</div>
<div class="card-action">
	<a href="{% url 'index' %}">{% trans "Return to home page." %}</a>
</div>		
{% endblock %}

{# This is used by django.contrib.auth #}
