{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %} |{% endblock %}

{% block register %}
<div class="card-content blue-grey-text">
	<span class="card-title">{% trans "Password reset complete" %}</span>
	{% trans "Your password has been reset!" %}
    {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
</div>
<div class="card-action">
	<a href="{% url 'index' %}">{% trans "Return to home page." %}</a>
</div>		
{% endblock %}


{# This is used by django.contrib.auth #}
