{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %} |{% endblock %}

{% block register %}
<form method="post" action="">
	{% csrf_token %}
	<div class="card-content blue-grey-text">
		<span class="card-title">{% trans "Reset password" %}</span>
		<p>
			{% blocktrans %}Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.{% endblocktrans %}
		</p>
		{% for field in form %}
		<div class="row">
			<div class="input-field col s12">
				{{field}}
				<label data-error="wrong" data-success="right" for="{{field.id_for_label }}">{{field.label}}</label>
				{% if field.help_text %}<p class="red-text">{{ field.help_text|safe }}</p>{% endif %}
				{{ field.errors }}
			</div>
		</div>
		{% endfor %}
		
		<input class="btn waves-effect waves-light" type="submit" value="{% trans 'Reset password' %}" />
	</div>
</form>	
{% endblock %}


{# This is used by django.contrib.auth #}
