{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header></header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer></footer>
    </body>
    <script>
	var count = 5;

	function addPosition(x){
    		var a =  document.getElementsByClassName("active");
		var position = count - a;
		x.dataset.pos = position;
		x.classList.remove("active");
	}

	function reset(){
		var s =  document.getElementsByClassName("stimul");
		for(i=0, i<count, i++){
			s[i].classList.add("active");
			s[i].dataset.pos = 0;
		};
	}

    </script> 
</html>    
