{% extends 'base/base.html' %}
{% block main %}
<h1>{{stimul.name}}</h1>
<form id="sheet">
<section class="card" id="profile">
    <h2>Заполните анкету</h2>
    {% csrf_token %}
    {{ form.as_p }}
</section>
<section class="card">
  <h2>Выберите изображение, которое вам больше нравится</h2>
  <div id="images" style="grid-template-columns:repeat({{img_count}}, 1fr)">
	  {% for image in images %}
    <div>
	    <input type="checkbox" name="{{image.id}}" id="id_{{image.id}}" value="0" required>
	    <label for="id_{{image.id}}" class="stimul"
				  style="background-image:url('{{image.image.url}}');"
		    ></label>
    </div>
    	{% empty %}
	{% endfor %}
  </div>
</section>
<section id="actions">
	<input type="button" id="reset" class="btn btn-danger" value="Сбросить выбор" />
	<input type="submit" class="btn btn-submit" value="Отправить на сервер" />
</section>
</form>
{% endblock %}
