* {
	box-sizing:border-box;
}

html{
	font-family: -apple-system, BlinkMacSystemFont,
	    		“Segoe UI”, “Roboto”, “Oxygen”,
	        	“Ubuntu”, “Cantarell”, “Fira Sans”,
		    	“Droid Sans”, “Helvetica Neue”, sans-serif;
}

body{
	background-color:#eee;
	display:flex;
	flex-direction:row;
	min-height:100vh;
}

body > main{
	flex-grow:1;
}

a, input, select{
	transition: all .3s ease-out 0s;
}

h1, h2 {
	text-align:center;
}

form section{
	width:30rem;	
	border:.1rem solid #444;
	margin:0 auto 2rem auto;
	padding:1rem;
}


form section:last-child{
	width:100%;	
}

form section > div {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:1rem;
}

.image{
	display:block;
	background-position:center;
	background-repeat:no-repeat;
	background-size: contain;
	padding-top:67%;
	cursor:pointer;
	transition: all .3s ease-out 0s;
	background-color:#eee;
}

input, select{
	border:.1rem solid #ddd;
}

input[type=checkbox]{
	display:none;
}

input[type=checkbox]:checked + label .image{
	background-color:#444;
	background-blend-mode:overlay;
}
