*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html{
    	font-family: -apple-system, BlinkMacSystemFont,
                     “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
                     “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
                     sans-serif;
}

body{
	color:#444;
	display:flex;
	flex-direction:column;
	background-color:#eee;
}

body > main{
	flex-grow:1;
	padding:1rem;
}

a, input, select, label{
	transition: all .3s ease-out 0s;
}

.card{
	background-color:white;
	border:.1rem solid #ddd;
	padding:1rem;
	margin-bottom:2rem;
	margin-left:auto;
	margin-right:auto;
}

h1,
h2{
	margin-bottom:2rem;
	text-align:center;
}

.small{
    width:40rem;
}

.profile{
    border:.2rem solid green;
}

.edit{
    border-color:yellow;
}

.profile form > div{
    margin-bottom:1rem;
}

.profile > h2:after{
    font-family:FontAwesome;
    content: "\f00c";
    color:green;
} 

.edit > h2:after{
    font-family:FontAwesome;
    content: "\f040";
    color:yellow;
} 

.profile form > div > div{
    display:flex;
    justify-content:space-between;
}
.profile form > div > div input,
.profile form > div > div select{
    flex-grow:1;
    padding-right:1rem;
}

textarea,
select,
input{
	background:none;
    border:none;
	border-bottom:.2rem solid #ccc;
	padding:.2rem;
	margin-bottom:.5rem;
    text-align:right;
}

textarea:hover,
select:hover,
input:hover,
textarea:focus,
select:focus,
input:focus{
    border-color:#444;
}

.help{
    font-size:.7rem;
    padding:.5rem;
    border:.1rem solid #eee;
    background-color:#FFF9CD;
    text-align:right;
    margin-bottom:.5rem;
}

input[type=checkbox]{
	display:none;
}

#profile{
	width:35rem;
}

#images{
	display:grid;
	grid-gap:1rem;
	grid-template-columns:repeat(3, 1fr);
}

.back{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#ccc;
	color:#444;
	font-size:2rem;
	line-height:2rem;
	padding:1rem 1rem 1rem .8rem;
	height:3rem;
	width:3rem;
	text-decoration:none;
}

.back:focus,
.back:hover{
	background-color:#444;
	color:#ccc;
}

.stimul{
	display:block;
	position:relative;
	padding-top:67%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
	border:.2rem solid white;
}

.stimul:focus,
.stumil:hover{
	background-color:#eee;
}

input[type=checkbox]:checked + label{
	background-color:#444;
	background-blend-mode:multiply;
}

input[type=checkbox]:invalid + label{
	border-color:red;
}

#actions{
	display:flex;
	justify-content:center;
}

.btn{
	padding:1rem 2rem;
	border:.1rem solid #ddd;
	color:white;
	text-decoration:none;
	margin-left:2rem;
	text-transform:uppercase;
}

.btn:first-child{
	margin-left:0;
}

.btn-danger{
	background-color:#f44336;
}

.btn-danger:focus,
.btn-danger:hover{
	background-color:#b71c1c;
}

.btn-submit{
	background-color:#4caf50;
}

.btn-submit:focus,
.btn-submit:hover{
	background-color:#1b5e20;
}
